.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #2f80ed;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  left: -30px;
}

.title {
  display: flex;
}

.header__title {
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 28px 0;
  z-index: 1;
}

.span-accent {
  font-family: "Noto Serif", Times New Roman, Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", Times New Roman, Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0;
}

.header__image {
  width: 649px;
  height: 568px;
  position: absolute;
  top: 128px;
  right: 5px;
  z-index: 0;
}

.image__coffeeshop {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
}

.header__footer {
  display: flex;
  margin-top: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  color: #6f6f6f;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: 0;
}

.recipes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 580px;
  margin: 100px 0 0 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", Times New Roman, Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  max-width: 438px;
  margin: 20px 0 0 80px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 215px;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

.iframe__size {
  width: 480px;
  height: 273px;
}
